
<div class="gallery">
{% for image in include.images %}
  {% if image.link%}
    {% assign imagelink = image.link %}
  {% else if image.src %}
    {% assign imagelink = image.src %}
  {% else %}
    {% assign imagelink = image %}
  {% endif %}
  {% if image.src %}
    {% assign imageSrc = image.src %}
  {% else %}
    {% assign imageSrc = image %}
  {% endif %}
  {% if image.type %}
    {% assign itemtype = image.type %}
  {% else %}
    {% assign itemtype = "image" %}
  {% endif %}
  <a href="{{ imagelink }}" class="gallery-item mfp-{{itemtype}} {% if image.class %}{{ image.class }}{% endif %}">
    <img src="{{ imageSrc }}" alt="{{ image.name }}" />
  </a>
{% endfor %}
</div>